<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Udacity Travel App</title>

        <!-- document metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta
            name="description"
            content="Last project for Udacity's Frontend Web Developer nanodegree."
        />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Newsreader"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
        />
    </head>

    <body>
        <header class="unselectable">
            <div class="brand">
                <div class="logo" />
            </div>
        </header>

        <main>
            <section class="form">
                <form id="form" onsubmit="return handleSubmit(event)">
                    <input
                        id="url"
                        type="url"
                        name="input"
                        placeholder="Paste your article URL"
                    />
                    <input
                        id="submitter"
                        type="submit"
                        value="Submit"
                    />
                </form>
            </section>

            <section class="results">
                <img src="https://www.countryflags.io/CL/flat/64.png" />
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <h1 class="title">About:</h1>
            <p class="text">Last project of Udacity's Frontend Web Developer nanodegree.</p>
        </footer>

        <script>
            // checks that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
