.color-calendar {
    width: 24em;
    margin-top: 0.4em;
    font-size: 1rem;
    border-radius: 4px !important;

    &.glass {
        .calendar__body {
            margin: 1em;
            border-radius: 4px !important;

            .calendar__day .calendar__day-box {
                border-radius: 4px !important;
            }
        }

        .calendar__picker {
            width: 93%;
            margin: 1em;
        }
    }
}
