.color-calendar {
    width: 24em;
    margin-top: 0.4em;
    font-size: 1rem;
}

.color-calendar.glass .calendar__body {
    margin: 1em;
}

.color-calendar.glass .calendar__picker {
    width: 93%;
    margin: 1em;
}
