@mixin form-section() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 2em 1em;
}

img {
    &.flag {
        margin-left: 1em;
        padding: 0;
        filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.6));
    }

    &.weather-icon {
        padding: 0;
        filter: drop-shadow(0 1px 4px rgba(255, 255, 255, 0.6));
    }
}

main {
    #form {
        display: flex;

        .plan {
            flex-grow: 1;
            color: color(submit);

            @include form-section();

            .search {
                display: flex;
                justify-content: center;

                #place {
                    flex-grow: 1;
                }

                #submit {
                    min-width: 12em;
                    color: white;
                    background-color: color(submit);
                }
            }

            .search-info {
                margin: 1em 0;
                margin-right: 0.2em;
                padding: 1em;

                .location {
                    z-index: 1000;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0.6em;

                    .name {
                        flex-grow: 1;
                        font-weight: bolder;
                        font-size: 2rem;
                        text-align: center;
                    }
                }

                .info {
                    display: flex;

                    @include text-shadow(
                        -1px -1px 1px rgba(255, 255, 255, 0.1),
                        1px 1px 1px rgba(0, 0, 0, 0.5),
                        2px 2px 2px rgba(206, 89, 55, 0)
                    );

                    .weather {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        padding: 1em;
                        font-weight: bolder;
                        font-size: 1.6em;
                        text-align: center;
                    }

                    .detail {
                        flex-grow: 1;
                        padding: 1em;

                        ul {
                            padding: 0;
                            list-style-type: none;

                            li {
                                display: flex;
                                justify-content: flex-start;
                                margin: 0.4em;

                                svg.uv-lamp {
                                    margin-top: -3px;
                                    margin-left: 0.6em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .calendar {
            align-items: flex-end;

            @include form-section();
        }
    }
}

@media (max-width: 1048px) {
    main {
        #form {
            .plan {
                .search-info {
                    .info {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    main {
        #form {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 2em;

            .plan {
                width: 100%;
                padding: 1em;

                .search {
                    margin: 1em;
                }

                .search-info {
                    margin: 1em;
                }
            }

            .calendar {
                padding: 1em;
            }
        }
    }
}
