$background_image: url('../assets/background.svg');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0;
    color: color(font);

    font-size: 16px;
    font-family: 'Newsreader', sans-serif;
    background-color: color(background);
    background-image: $background_image;
    background-size: contain;
    background-attachment: scroll;
}

header,
main,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}
